<%= form_for(@acc) do |f| %>
  <% if @acc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acc.errors.count, "error") %> prohibited this acc from being saved:</h2>

      <ul>
      <% @acc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
