<p id="notice"><%= notice %></p>

<h1>Listing Accs</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accs.each do |acc| %>
      <tr>
        <td><%= acc.username %></td>
        <td><%= link_to 'Show', acc %></td>
        <td><%= link_to 'Edit', edit_acc_path(acc) %></td>
        <td><%= link_to 'Destroy', acc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acc', new_acc_path %>
